<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>First1</display-name>
  <welcome-file-list>
    <welcome-file>registereduser.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>del</display-name>
    <servlet-name>del</servlet-name>
    <servlet-class>com.server.del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>del</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>compare</display-name>
    <servlet-name>compare</servlet-name>
    <servlet-class>com.server.compare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>compare</servlet-name>
    <url-pattern>/compare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>monthly</display-name>
    <servlet-name>monthly</servlet-name>
    <servlet-class>com.server.monthly</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monthly</servlet-name>
    <url-pattern>/monthly</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>check</display-name>
    <servlet-name>check</servlet-name>
    <servlet-class>com.server.check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editServlet</display-name>
    <servlet-name>editServlet</servlet-name>
    <servlet-class>com.server.editServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editServlet</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>food</display-name>
    <servlet-name>food</servlet-name>
    <servlet-class>com.server.food</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>food</servlet-name>
    <url-pattern>/food</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>party</display-name>
    <servlet-name>party</servlet-name>
    <servlet-class>com.server.party</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>party</servlet-name>
    <url-pattern>/party</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shopping</display-name>
    <servlet-name>shopping</servlet-name>
    <servlet-class>com.server.shopping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopping</servlet-name>
    <url-pattern>/shopping</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>education</display-name>
    <servlet-name>education</servlet-name>
    <servlet-class>com.server.education</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>education</servlet-name>
    <url-pattern>/education</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>utilities</display-name>
    <servlet-name>utilities</servlet-name>
    <servlet-class>com.server.utilities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>utilities</servlet-name>
    <url-pattern>/utilities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>travel</display-name>
    <servlet-name>travel</servlet-name>
    <servlet-class>com.server.travel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>travel</servlet-name>
    <url-pattern>/travel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>health</display-name>
    <servlet-name>health</servlet-name>
    <servlet-class>com.server.health</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>health</servlet-name>
    <url-pattern>/health</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDash</display-name>
    <servlet-name>EditDash</servlet-name>
    <servlet-class>com.server.EditDash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDash</servlet-name>
    <url-pattern>/EditDash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>show</display-name>
    <servlet-name>show</servlet-name>
    <servlet-class>com.server.show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>estimatedupdate</display-name>
    <servlet-name>estimatedupdate</servlet-name>
    <servlet-class>com.server.estimatedupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>estimatedupdate</servlet-name>
    <url-pattern>/estimatedupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.server.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.server.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EstimtedAmount</display-name>
    <servlet-name>EstimtedAmount</servlet-name>
    <servlet-class>com.server.EstimtedAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EstimtedAmount</servlet-name>
    <url-pattern>/EstimtedAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>estimatedform</display-name>
    <servlet-name>estimatedform</servlet-name>
    <servlet-class>com.server.estimatedform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>estimatedform</servlet-name>
    <url-pattern>/estimatedform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allupdate</display-name>
    <servlet-name>allupdate</servlet-name>
    <servlet-class>com.server.allupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allupdate</servlet-name>
    <url-pattern>/allupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hello</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.server.hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo</display-name>
    <servlet-name>demo</servlet-name>
    <servlet-class>com.server.demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EstimtedAmount2</display-name>
    <servlet-name>EstimtedAmount2</servlet-name>
    <servlet-class>com.server.EstimtedAmount2</servlet-class>
  </servlet>
</web-app>