@charset "ISO-8859-1";
h3
{
	
	
    padding: 30px;
    text-align: top;
    font-size: 35px;
    color:Magenta;
}
body {
   
    background-image:url("background.jpg");
    
}

a {
	 font-size: 35px;
	 color:#1f004d;
   
}